<div class="kb-Board-Header">
  <div id="boardTitle" class="kb-BoardHeader-Title">{{title}}</div>
  <button id="addColumn">
    <span class="kb-addColumn-title">Ajouter une colonne</span>
    <i class="icon icon-add73"></i>
  </button>
</div>

<div class="kb-Board-Content">
  <div id="colonneList" class="kb-Board-colonneList"></div>
</div>

