<div class="kb-Board-Header">
  <div id="boardTitle" class="kb-BoardHeader-Title">{{title}}</div>
  <button class= "kb-buttonAddColumn" id="addColumn">
    <span class="kb-addColumn-title">Ajouter une colonne</span>
  </button>
</div>

<div class="kb-Board-Content">
  <div id="colonneList" class="kb-Board-colonneList"></div>
</div>

