<div id="boardTitle">{{title}}</div>
    <button id="addColumn">Ajouter une colonne
        <i class="icon icon-add73"></i>
    </button>

    <button id="removeColumn">Supprimer une colonne
        <i class="icon icon-delete30" ></i>
    </button>

<div id="colonneList">
  <div class="colonne">
    <div class="titre">Je sais pas</div>
  </div>
  <div class="colonne">
    <div class="titre">Je sais pas</div>
  </div>
  <div class="colonne">
    <div class="titre">Je suis un blaireau!!!</div>
  </div>
</div>


