<div id="boardTitle">{{title}}</div>

<div id="addColonne"> je suis la  , grand X</div>
  <div id="colonneList">
    <div class="colonne">
      <div class="titre">Je sais pas</div>
    </div>
    <div class="colonne">
      <div class="titre">Je sais pas</div>
    </div>
    <div class="colonne">
      <div class="titre">Je suis un blaireau et je m'appelle José le Ni-Ni</div>
    </div>
</div>
