<div class="colonne">
    <button class="kb-button-removeColumn">
        <i class="icon icon-delete30" ></i>
    </button>
    <div class="kb-column-titre">
        <h1>Titre de la colonne</h1>
        <input type="text" placeholder="titre de la colonne"/>
    </div>
    <div class="kb-column-ticket">
        <i class="kb-column-edit icon icon-text71"></i>
        <div class="kb-column-decos">
            <span class="kb-column-deco kb-column-deco--orange"></span>
        </div>
        Mon ticket
    </div>
    <div class="kb-column-ticket">
        <i class="kb-column-edit icon icon-text71"></i>
        <div class="kb-column-decos">
            <span class="kb-column-deco kb-column-deco--pink"></span>
            <span class="kb-column-deco kb-column-deco--orange"></span>
            <span class="kb-column-deco kb-column-deco--violet"></span>
            <span class="kb-column-deco kb-column-deco--orange"></span>
            <span class="kb-column-deco kb-column-deco--rouge"></span>
            <span class="kb-column-deco kb-column-deco--orange"></span>
            <span class="kb-column-deco kb-column-deco--pink"></span>
            <span class="kb-column-deco kb-column-deco--blue"></span>
            <span class="kb-column-deco kb-column-deco--pink"></span>
            <span class="kb-column-deco kb-column-deco--cyan"></span>
        </div>
        Mon 2e ticket
    </div>
    <div class="kb-button-addTicket">Ajouter un ticket...</div>
</div>
