<div class="colonne">
<button class="removeColumn">Supprimer une colonne<i class="icon icon-delete30" ></i></button>
  <div class="titre"><input type="text" placeholder="titre de la colonne"/></div>
</div>
