<div class="colonne">
    <button class="kb-button-removeColumn">
        <i class="icon icon-delete30" ></i>
    </button>
    <div class="kb-column-titre">
        <h1>Titre de la colonne</h1>
        <input type="text" placeholder="titre de la colonne"/>
    </div>
    <div class="kb-column-ticket">
        <div>
            <span class="kb-column-deco"></span>
        </div>
        mon ticket
    </div>
    <div class="kb-button-addTicket">Ajouter un ticket</div>
</div>
