.kb-Trello-Header
  height 2.6em
  background rgba(0,0,0,.15)

.kb-Header-Logo
  position relative
  top .4em

.kb-Header-Logo--default
  background-image url(https://d78fikflryjgj.cloudfront.net/images/50b4ebc64391dc394a38e73aed57f0e2/header-logo.png)
  width 80px
  height 30px
  display block
  margin 0 auto
