div.header
  background-image url("https://d78fikflryjgj.cloudfront.net/images/50b4ebc64391dc394a38e73aed57f0e2/header-logo.png")
  background-repeat no-repeat
  background-position-x 50%
  background-color red
  text-align center
  height 2em

.colonne
  display  block
