html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: "icons";
  src: url("../static/fonts/icons.eot");
  src: url("../static/fonts/icons.eot?#iefix") format('eot'), url("../static/fonts/icons.woff") format('woff'), url("../static/fonts/icons.ttf") format('truetype'), url("../static/fonts/icons.svg#icons") format('svg');
}
.icon:before {
  font-family: "icons";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
  text-decoration: none;
  text-transform: none;
}
.icon-add73:before {
  content: "\E001";
}
.icon-arrow476:before {
  content: "\E002";
}
.icon-arrow477:before {
  content: "\E003";
}
.icon-arrow478:before {
  content: "\E004";
}
.icon-arrow479:before {
  content: "\E005";
}
.icon-arrow480:before {
  content: "\E006";
}
.icon-arrow481:before {
  content: "\E007";
}
.icon-arrow482:before {
  content: "\E008";
}
.icon-arrow483:before {
  content: "\E009";
}
.icon-arrow484:before {
  content: "\E00A";
}
.icon-arrow485:before {
  content: "\E00B";
}
.icon-arrow486:before {
  content: "\E00C";
}
.icon-arrow487:before {
  content: "\E00D";
}
.icon-arrow488:before {
  content: "\E00E";
}
.icon-arrow489:before {
  content: "\E00F";
}
.icon-arrow490:before {
  content: "\E010";
}
.icon-arrow491:before {
  content: "\E011";
}
.icon-arrow492:before {
  content: "\E012";
}
.icon-arrow493:before {
  content: "\E013";
}
.icon-arrow494:before {
  content: "\E014";
}
.icon-arrow495:before {
  content: "\E015";
}
.icon-arrow496:before {
  content: "\E016";
}
.icon-arrow497:before {
  content: "\E017";
}
.icon-arrow498:before {
  content: "\E018";
}
.icon-arrow499:before {
  content: "\E019";
}
.icon-arrow500:before {
  content: "\E01A";
}
.icon-arrow501:before {
  content: "\E01B";
}
.icon-arrow502:before {
  content: "\E01C";
}
.icon-arrow503:before {
  content: "\E01D";
}
.icon-arrow504:before {
  content: "\E01E";
}
.icon-arrow505:before {
  content: "\E01F";
}
.icon-arrow506:before {
  content: "\E020";
}
.icon-arrow507:before {
  content: "\E021";
}
.icon-arrow508:before {
  content: "\E022";
}
.icon-arrow510:before {
  content: "\E023";
}
.icon-arrow511:before {
  content: "\E024";
}
.icon-arrow514:before {
  content: "\E025";
}
.icon-arrow515:before {
  content: "\E026";
}
.icon-arrowhead7:before {
  content: "\E027";
}
.icon-arrowheads3:before {
  content: "\E028";
}
.icon-arrows64:before {
  content: "\E029";
}
.icon-arrows65:before {
  content: "\E02A";
}
.icon-arrows66:before {
  content: "\E02B";
}
.icon-arrows67:before {
  content: "\E02C";
}
.icon-back14:before {
  content: "\E02D";
}
.icon-barrier:before {
  content: "\E02E";
}
.icon-barrier1:before {
  content: "\E02F";
}
.icon-basic:before {
  content: "\E030";
}
.icon-basic1:before {
  content: "\E031";
}
.icon-bell16:before {
  content: "\E032";
}
.icon-biohazard1:before {
  content: "\E033";
}
.icon-blank22:before {
  content: "\E034";
}
.icon-book117:before {
  content: "\E035";
}
.icon-book118:before {
  content: "\E036";
}
.icon-book119:before {
  content: "\E037";
}
.icon-book121:before {
  content: "\E038";
}
.icon-book122:before {
  content: "\E039";
}
.icon-bookmark11:before {
  content: "\E03A";
}
.icon-bookmarks:before {
  content: "\E03B";
}
.icon-books13:before {
  content: "\E03C";
}
.icon-braille1:before {
  content: "\E03D";
}
.icon-broken21:before {
  content: "\E03E";
}
.icon-buoy:before {
  content: "\E03F";
}
.icon-calibration:before {
  content: "\E040";
}
.icon-candle4:before {
  content: "\E041";
}
.icon-candle5:before {
  content: "\E042";
}
.icon-cd18:before {
  content: "\E043";
}
.icon-cd19:before {
  content: "\E044";
}
.icon-cd20:before {
  content: "\E045";
}
.icon-cd21:before {
  content: "\E046";
}
.icon-cd22:before {
  content: "\E047";
}
.icon-cd23:before {
  content: "\E048";
}
.icon-check34:before {
  content: "\E049";
}
.icon-check35:before {
  content: "\E04A";
}
.icon-checkered4:before {
  content: "\E04B";
}
.icon-circle46:before {
  content: "\E04C";
}
.icon-circle48:before {
  content: "\E04D";
}
.icon-clipboard41:before {
  content: "\E04E";
}
.icon-clipboard42:before {
  content: "\E04F";
}
.icon-clipboard43:before {
  content: "\E050";
}
.icon-clipboard44:before {
  content: "\E051";
}
.icon-clipboard45:before {
  content: "\E052";
}
.icon-clipboard46:before {
  content: "\E053";
}
.icon-close20:before {
  content: "\E054";
}
.icon-closed42:before {
  content: "\E055";
}
.icon-compact12:before {
  content: "\E056";
}
.icon-copy12:before {
  content: "\E057";
}
.icon-cross54:before {
  content: "\E058";
}
.icon-crosshair8:before {
  content: "\E059";
}
.icon-curved14:before {
  content: "\E05A";
}
.icon-cut20:before {
  content: "\E05B";
}
.icon-delete30:before {
  content: "\E05C";
}
.icon-delete31:before {
  content: "\E05D";
}
.icon-dictionary:before {
  content: "\E05E";
}
.icon-document65:before {
  content: "\E05F";
}
.icon-document66:before {
  content: "\E060";
}
.icon-document67:before {
  content: "\E061";
}
.icon-document68:before {
  content: "\E062";
}
.icon-document69:before {
  content: "\E063";
}
.icon-document70:before {
  content: "\E064";
}
.icon-document71:before {
  content: "\E065";
}
.icon-document72:before {
  content: "\E066";
}
.icon-document73:before {
  content: "\E067";
}
.icon-document74:before {
  content: "\E068";
}
.icon-document75:before {
  content: "\E069";
}
.icon-document76:before {
  content: "\E06A";
}
.icon-document77:before {
  content: "\E06B";
}
.icon-document78:before {
  content: "\E06C";
}
.icon-document79:before {
  content: "\E06D";
}
.icon-document80:before {
  content: "\E06E";
}
.icon-document81:before {
  content: "\E06F";
}
.icon-document82:before {
  content: "\E070";
}
.icon-document83:before {
  content: "\E071";
}
.icon-document84:before {
  content: "\E072";
}
.icon-document85:before {
  content: "\E073";
}
.icon-document86:before {
  content: "\E074";
}
.icon-documents4:before {
  content: "\E075";
}
.icon-documents5:before {
  content: "\E076";
}
.icon-documents6:before {
  content: "\E077";
}
.icon-door13:before {
  content: "\E078";
}
.icon-double47:before {
  content: "\E079";
}
.icon-edit26:before {
  content: "\E07A";
}
.icon-equalizer16:before {
  content: "\E07B";
}
.icon-escalator2:before {
  content: "\E07C";
}
.icon-escalator3:before {
  content: "\E07D";
}
.icon-escalator4:before {
  content: "\E07E";
}
.icon-female128:before {
  content: "\E07F";
}
.icon-find:before {
  content: "\E080";
}
.icon-find1:before {
  content: "\E081";
}
.icon-find2:before {
  content: "\E082";
}
.icon-first19:before {
  content: "\E083";
}
.icon-fit:before {
  content: "\E084";
}
.icon-fit2:before {
  content: "\E085";
}
.icon-flag30:before {
  content: "\E086";
}
.icon-floppy13:before {
  content: "\E087";
}
.icon-floppy14:before {
  content: "\E088";
}
.icon-floppy15:before {
  content: "\E089";
}
.icon-floppy16:before {
  content: "\E08A";
}
.icon-floppy18:before {
  content: "\E08B";
}
.icon-folder78:before {
  content: "\E08C";
}
.icon-folder79:before {
  content: "\E08D";
}
.icon-folder80:before {
  content: "\E08E";
}
.icon-folder81:before {
  content: "\E08F";
}
.icon-folder82:before {
  content: "\E090";
}
.icon-folder83:before {
  content: "\E091";
}
.icon-folder84:before {
  content: "\E092";
}
.icon-folder85:before {
  content: "\E093";
}
.icon-folder86:before {
  content: "\E094";
}
.icon-folders3:before {
  content: "\E095";
}
.icon-folders4:before {
  content: "\E096";
}
.icon-font4:before {
  content: "\E097";
}
.icon-font5:before {
  content: "\E098";
}
.icon-font6:before {
  content: "\E099";
}
.icon-font7:before {
  content: "\E09A";
}
.icon-font8:before {
  content: "\E09B";
}
.icon-font9:before {
  content: "\E09C";
}
.icon-forbidden1:before {
  content: "\E09D";
}
.icon-four37:before {
  content: "\E09E";
}
.icon-garbage3:before {
  content: "\E09F";
}
.icon-garbage4:before {
  content: "\E0A0";
}
.icon-garbage5:before {
  content: "\E0A1";
}
.icon-garbage6:before {
  content: "\E0A2";
}
.icon-garbage7:before {
  content: "\E0A3";
}
.icon-garbage8:before {
  content: "\E0A4";
}
.icon-hard10:before {
  content: "\E0A5";
}
.icon-hard9:before {
  content: "\E0A6";
}
.icon-heart118:before {
  content: "\E0A7";
}
.icon-history2:before {
  content: "\E0A8";
}
.icon-indent2:before {
  content: "\E0A9";
}
.icon-indent3:before {
  content: "\E0AA";
}
.icon-information38:before {
  content: "\E0AB";
}
.icon-italics:before {
  content: "\E0AC";
}
.icon-justified2:before {
  content: "\E0AD";
}
.icon-key50:before {
  content: "\E0AE";
}
.icon-led3:before {
  content: "\E0AF";
}
.icon-letter25:before {
  content: "\E0B0";
}
.icon-letters2:before {
  content: "\E0B1";
}
.icon-lifebelt:before {
  content: "\E0B2";
}
.icon-light56:before {
  content: "\E0B3";
}
.icon-lightbulb3:before {
  content: "\E0B4";
}
.icon-lighthouse1:before {
  content: "\E0B5";
}
.icon-line20:before {
  content: "\E0B6";
}
.icon-line21:before {
  content: "\E0B7";
}
.icon-line22:before {
  content: "\E0B8";
}
.icon-list35:before {
  content: "\E0B9";
}
.icon-list36:before {
  content: "\E0BA";
}
.icon-locator7:before {
  content: "\E0BB";
}
.icon-log4:before {
  content: "\E0BC";
}
.icon-magazine1:before {
  content: "\E0BD";
}
.icon-magic8:before {
  content: "\E0BE";
}
.icon-magnifying39:before {
  content: "\E0BF";
}
.icon-male154:before {
  content: "\E0C0";
}
.icon-map29:before {
  content: "\E0C1";
}
.icon-map30:before {
  content: "\E0C2";
}
.icon-map31:before {
  content: "\E0C3";
}
.icon-map32:before {
  content: "\E0C4";
}
.icon-maximize:before {
  content: "\E0C5";
}
.icon-microsoft6:before {
  content: "\E0C6";
}
.icon-minimize3:before {
  content: "\E0C7";
}
.icon-minus24:before {
  content: "\E0C8";
}
.icon-minus25:before {
  content: "\E0C9";
}
.icon-music168:before {
  content: "\E0CA";
}
.icon-music169:before {
  content: "\E0CB";
}
.icon-music170:before {
  content: "\E0CC";
}
.icon-navigate2:before {
  content: "\E0CD";
}
.icon-navigate3:before {
  content: "\E0CE";
}
.icon-navigate4:before {
  content: "\E0CF";
}
.icon-navigate5:before {
  content: "\E0D0";
}
.icon-navigate6:before {
  content: "\E0D1";
}
.icon-navigation10:before {
  content: "\E0D2";
}
.icon-navigation11:before {
  content: "\E0D3";
}
.icon-navigation9:before {
  content: "\E0D4";
}
.icon-navigational:before {
  content: "\E0D5";
}
.icon-numbered5:before {
  content: "\E0D6";
}
.icon-open127:before {
  content: "\E0D7";
}
.icon-open128:before {
  content: "\E0D8";
}
.icon-open129:before {
  content: "\E0D9";
}
.icon-open130:before {
  content: "\E0DA";
}
.icon-open131:before {
  content: "\E0DB";
}
.icon-open132:before {
  content: "\E0DC";
}
.icon-open133:before {
  content: "\E0DD";
}
.icon-open134:before {
  content: "\E0DE";
}
.icon-plus32:before {
  content: "\E0DF";
}
.icon-plus33:before {
  content: "\E0E0";
}
.icon-portfolio8:before {
  content: "\E0E1";
}
.icon-printer59:before {
  content: "\E0E2";
}
.icon-printer60:before {
  content: "\E0E3";
}
.icon-question24:before {
  content: "\E0E4";
}
.icon-quotation:before {
  content: "\E0E5";
}
.icon-quotation1:before {
  content: "\E0E6";
}
.icon-quotation2:before {
  content: "\E0E7";
}
.icon-radiation2:before {
  content: "\E0E8";
}
.icon-recycle39:before {
  content: "\E0E9";
}
.icon-redo5:before {
  content: "\E0EA";
}
.icon-refresh38:before {
  content: "\E0EB";
}
.icon-refresh39:before {
  content: "\E0EC";
}
.icon-refresh40:before {
  content: "\E0ED";
}
.icon-resize5:before {
  content: "\E0EE";
}
.icon-right39:before {
  content: "\E0EF";
}
.icon-right40:before {
  content: "\E0F0";
}
.icon-route7:before {
  content: "\E0F1";
}
.icon-scroll5:before {
  content: "\E0F2";
}
.icon-selection5:before {
  content: "\E0F3";
}
.icon-selection6:before {
  content: "\E0F4";
}
.icon-selection7:before {
  content: "\E0F5";
}
.icon-service3:before {
  content: "\E0F6";
}
.icon-ships1:before {
  content: "\E0F7";
}
.icon-signaling:before {
  content: "\E0F8";
}
.icon-signpost:before {
  content: "\E0F9";
}
.icon-signpost2:before {
  content: "\E0FA";
}
.icon-signpost3:before {
  content: "\E0FB";
}
.icon-speech64:before {
  content: "\E0FC";
}
.icon-speech65:before {
  content: "\E0FD";
}
.icon-speech66:before {
  content: "\E0FE";
}
.icon-spell1:before {
  content: "\E0FF";
}
.icon-split3:before {
  content: "\E100";
}
.icon-square74:before {
  content: "\E101";
}
.icon-ssd:before {
  content: "\E102";
}
.icon-stairs6:before {
  content: "\E103";
}
.icon-stairs7:before {
  content: "\E104";
}
.icon-star82:before {
  content: "\E105";
}
.icon-star83:before {
  content: "\E106";
}
.icon-stop24:before {
  content: "\E107";
}
.icon-strikethrough2:before {
  content: "\E108";
}
.icon-sum1:before {
  content: "\E109";
}
.icon-tag33:before {
  content: "\E10A";
}
.icon-tags3:before {
  content: "\E10B";
}
.icon-text70:before {
  content: "\E10C";
}
.icon-text71:before {
  content: "\E10D";
}
.icon-text72:before {
  content: "\E10E";
}
.icon-ticket8:before {
  content: "\E10F";
}
.icon-toxic4:before {
  content: "\E110";
}
.icon-traffic10:before {
  content: "\E111";
}
.icon-traffic8:before {
  content: "\E112";
}
.icon-traffic9:before {
  content: "\E113";
}
.icon-trafficlight:before {
  content: "\E114";
}
.icon-trafficlight1:before {
  content: "\E115";
}
.icon-trafficlight2:before {
  content: "\E116";
}
.icon-triangular30:before {
  content: "\E117";
}
.icon-triple14:before {
  content: "\E118";
}
.icon-undo6:before {
  content: "\E119";
}
.icon-undo7:before {
  content: "\E11A";
}
.icon-up27:before {
  content: "\E11B";
}
.icon-view7:before {
  content: "\E11C";
}
.icon-warning19:before {
  content: "\E11D";
}
.icon-warning20:before {
  content: "\E11E";
}
.icon-warning21:before {
  content: "\E11F";
}
.icon-warning22:before {
  content: "\E120";
}
.icon-window25:before {
  content: "\E121";
}
.icon-window26:before {
  content: "\E122";
}
.icon-window27:before {
  content: "\E123";
}
.icon-window28:before {
  content: "\E124";
}
.icon-window29:before {
  content: "\E125";
}
.icon-window30:before {
  content: "\E126";
}
.icon-window31:before {
  content: "\E127";
}
.icon-window32:before {
  content: "\E128";
}
.icon-window33:before {
  content: "\E129";
}
.icon-windows23:before {
  content: "\E12A";
}
.icon-windows24:before {
  content: "\E12B";
}
.icon-yield:before {
  content: "\E12C";
}
.icon-zip8:before {
  content: "\E12D";
}
.icon-zoom29:before {
  content: "\E12E";
}
body {
  background-color: #519839;
  font-family: Helvetica;
}
button {
  cursor: pointer;
}
.icon {
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
}
.kb-Trello-Header {
  height: 2.6em;
  background: rgba(0,0,0,0.15);
}
.kb-Header-Logo {
  position: relative;
  top: 0.4em;
}
.kb-Header-Logo--default {
  background-image: url("https://d78fikflryjgj.cloudfront.net/images/50b4ebc64391dc394a38e73aed57f0e2/header-logo.png");
  width: 80px;
  height: 30px;
  display: block;
  margin: 0 auto;
}
.kb-Board {
  margin: 1em;
}
.kb-BoardHeader-Title {
  color: #fff;
  font-size: 1.7em;
  margin: 0 0 0.2em;
}
.kb-Board-colonneList {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 1em 0 0;
}
.colonne {
  background: #e2e4e6;
  border-radius: 3px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 17em;
  margin: 0 1em 0 0;
  position: relative;
}
.kb-column-titre {
  padding: 0.5em 2.2em 0.5em 0.6em;
  font-size: 0.95em;
  min-height: 1.3em;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  color: #444;
  font-weight: bold;
}
.kb-buttonAddColumn {
  padding: 0.5em 1.5em;
  background: rgba(0,0,0,0.15);
  border-radius: 0.3em;
  color: #fff;
  font-weight: bold;
  border: 0;
}
.kb-buttonAddColumn:hover {
  background-color: #006400;
}
.kb-button-removeColumn {
  position: absolute;
  background-color: transparent;
  top: 0;
  right: 0;
  border: 0;
}
.kb-button-addTicket {
  padding: 0.5em 0.5em;
  font-size: 0.95em;
  color: #808080;
}
.kb-button-addTicket:hover {
  text-decoration: underline;
  background: rgba(0,0,0,0.15);
  cursor: pointer;
}
.kb-column-ticket {
  position: relative;
  padding: 0.5em 0.5em;
  border-bottom: 1px solid #ccc;
  border-radius: 0.3em;
  background: #fff;
  margin: 0 0.5em 0.5em;
}
.kb-column-ticket:hover {
  background: rgba(0,0,0,0.02);
  cursor: pointer;
}
.kb-column-ticket:hover .kb-column-edit {
  display: block;
}
.kb-column-decos {
  margin: 0 0 0.4em;
}
.kb-column-deco {
  display: inline-block;
  border-radius: 0.25em;
  width: 2em;
  height: 0.5em;
}
.kb-column-deco--orange {
  background: #ffa500;
}
.kb-column-deco--pink {
  background: #ffc0cb;
}
.kb-column-deco--violet {
  background: #ee82ee;
}
.kb-column-deco--rouge {
  background: #f00;
}
.kb-column-deco--blue {
  background: #000080;
}
.kb-column-deco--cyan {
  background: #0ff;
}
.kb-column-edit {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  display: none;
}
